{%- assign cdate = site.time | date: '%Y%m%d' -%}
{%- assign date = offer.date | date: '%Y%m%d' -%}
{%- assign district = offer.region | replace_first: 'кий район', 'кому районі' -%}
{%- capture folder -%}/assets/images/{{ offer.phone }}/{{ offer.id }}/{%- endcapture -%}
{%- assign files = site.static_files | where: 'image', true | where_exp: 'i', "i.path contains folder and i.extname == '.jpg' or i.extname == '.JPG'" -%}
{%- capture imageid -%}/assets/images/re/{{ offer.id }}.jpg{%- endcapture -%}
{%- capture idimage -%}{%- file_exists {{ imageid }} -%}{%- endcapture -%}
{%- include map/page-exists.html -%}
<tr>
  <td>{{ offer.id }}</td>
  <td>{{ offer.type }}</td>
  <td>{{ offer.rent }}</td>
  <td>{{ offer.page }}</td>
  <td>{{ offer.rooms }}</td>
  <td>{{ offer.surface }}</td>
  <td>{{ offer.surface_land }}</td>
  <td>{{ offer.price }}</td>
  <td>{{ offer.price_sqmt }}</td>
  <td>{{ offer.floor }}</td>
  <td>{{ offer.floors }}</td>
  <td>{{ offer.parking }}</td>
  <td>{{ offer.region }}</td>
  <td>{{ offer.location }}</td>
  <td>{{ offer.address }}</td>
  <td>{{ offer.coordinates }}</td>
  <td>{%- if date > cdate -%}{{ site.time | date: "%Y-%m-%d" }}{%- else -%}{{ offer.date | date: "%Y-%m-%d" }}{%- endif -%}</td>
  <td>{{ offer.seller }}</td>
  <td>{{ offer.phone }}</td>
  <td>{{ offer.description }}</td>
  <td>{%- if offer.page == 1 -%}{%- else -%}{{ offer.link }}{%- endif -%}</td>
  {%- if idimage == 'true' and files.size == 0 -%}
    <td><ul><li class="pic"><a href="{{ imageid | url_decode | relative_url }}" class="item">1</a></li></ul></td>
  {%- elsif files.size == 1 and idimage == 'false' -%}
    <td><ul><li class="pic"><a href="{{ files[0].path | url_decode | relative_url }}" class="item">1</a></li></ul></td>
  {%- elsif files.size > 1 and idimage == 'false' -%}
    <td><ul>{%- for file in files -%}<li class="pic"><a href="{{ file.path | url_decode | relative_url }}" class="item">{{ forloop.index }}</a></li>{%- endfor -%}</ul></td>
  {%- else -%}
    <td></td>
  {%- endif -%}
</tr>
