{%- assign sizeu = slashu | size | minus: 1 -%}
{%- assign backu = slashu | slice: 0, sizeu | join: '/' | append: '/' -%}
{%- assign idata = site.data._pages_by_url[backu] -%}
{%- if idata == nil -%}
  {%- assign idata = site.data._pagination_pages[backu] -%}
{%- endif -%}
<hr>
<div class="row">
  <div class="col-10 pt-2">
    <span class="mr-1">&larr;</span><a href="{{ backu }}">{{ site.data.uk.to_section }} {{ idata.title | downcase }}</a>
  </div>
  <div class="col-2">
    {%- assign backs = site.data._posts_by_dir[backu] -%}
    {%- assign iloop = 0 -%}
    {%- for item in backs %}{%- if item.url == pageu %}{%- assign iloop = forloop.index -%}{%- endif %}{%- endfor -%}
    {%- include pagination-re.html -%}
  </div>
</div>