{%- if pageu == '/' -%}
{%- else -%}
<div class="row">
  <div class="col-md-12">
    <div class="main-breadcrumbs">
      <p class="visually-hidden" id="breadcrumb">{{ site.data.uk.you_are_here }}:</p>
      <ol class="breadcrumb mb-0 px-0 py-4 bg-white">
        <li class="breadcrumb-item"><a href="{{ site.baseurl }}/"><span>{{ site.data.uk.home }}</span></a></li>
        {%- capture page_url_without_index_html -%}{{ pageu | remove: 'index.html' }}{%- endcapture -%}
        {%- assign splitted_url_parts = page_url_without_index_html | split: '/' -%}
        {%- capture forLoopMaxInt -%}{{ splitted_url_parts.size | minus:1 }}{%- endcapture -%}
        {%- for i in (1..forLoopMaxInt) -%}
          {%- capture current_breadcrumb_url -%}{{next_prepender}}/{{ splitted_url_parts[i] }}/{%- endcapture -%}
          {%- capture next_prepender -%}{{next_prepender}}/{{ splitted_url_parts[i] }}{%- endcapture -%}
          {%- assign breadcrumb_page = site.data._pages_by_url[current_breadcrumb_url] -%}
          {%- if breadcrumb_page -%}
            {%- unless current_breadcrumb_url contains 'page' -%}
              {%- assign j = forLoopMaxInt | plus: 0 -%}
              <li class="breadcrumb-item{% if i == j %} active" aria-current="page{% endif %}">
                <a href="{{ site.baseurl }}{{current_breadcrumb_url}}">
                  {%- if breadcrumb_page.breadcrumb -%}{{breadcrumb_page.breadcrumb}}{%- elsif breadcrumb_page.navtitle -%}{{breadcrumb_page.navtitle}}{%- else -%}{{breadcrumb_page.title}}{%- endif -%}
                </a>
              </li>
            {%- endunless -%}
          {%- endif -%}
        {%- endfor -%}
        {%- if page.layout == 'property' or page.layout == 'post' -%}
          <li class="breadcrumb-item active" aria-current="page">
            {{ page.title }}
          </li>
        {%- elsif pageu contains '/map.html' -%}
          <li class="breadcrumb-item active" aria-current="page">{{ site.data.uk.re_map_on }}</li>
        {%- endif -%}
      </ol>
    </div>
  </div>
</div>
{%- endif -%}