<header>
  <div class="container bg-primary{% if pageu != '/' %} pt-3{% else %} py-3{% endif %}">
    <div class="row justify-content-end">{%- include top-nav.html -%}</div>
    <div class="row">
      <div class="col-lg-3">
        <a class="flag-ua ml-1" data-toggle="modal" data-target="#netRealEstate" href="#netRealEstate" aria-haspopup="true" aria-expanded="false">
          <div class="icon"></div>
          <div class="d-flex flex-column lh-1 ml-2">
            <span class="text-white mt-0 font-weight-bold">{{ site.region }}</span>
            <span class="small mt-0 text-light">{{ site.data.uk.flag_ua_net }}</span>
          </div>
        </a>
      </div>
      <div class="col-lg-6">
        {% comment %}...{% endcomment %}
      </div>
      <div class="col-md-3">
        {% comment %}
        <div class="col-md-3 d-flex align-items-end justify-content-end">
          <span class="text-white mt-3"><b>Оновлено</b>: 05 квітня 2021 року</span>
        </div>
        {% endcomment %}
      </div>
    </div>
    {%- if pageu != '/' -%}
      {%- include header/navbar.html -%}
    {%- endif -%}
  </div>
  <div class="bg-light">
    <div class="container">
      <div class="collapse" id="collapseAreaSelect">
        <div class="bg-light pb-3 px-0 border-0 card card-body">
          <div class="row">
            <div class="col-md-6 offset-md-3">
              <div id="searchLoc" class="form-group">
                <label for="rehiony" class="sr-only">Пошук місцевості:</label>
                <select name="areas" id="rehiony" class="form-control" aria-label="Виберіть назву місцевості чи тип нерухомості">
                  <option value="">Введіть назву міста чи району або області</option>
                </select>
              </div>
              <div id="searchObj" class="form-group d-none">
                <label for="searchListings" class="sr-only">Пошук в оголошеннях:</label>
                <div id="searchTagsBox" class="form-control d-flex flex-wrap align-items-center p-1" style="height:auto; min-height:38px; cursor:text;" onclick="document.getElementById('searchListings').focus()">
                  <span id="searchTags"></span>
                  <input type="text" id="searchListings" name="searchListings" placeholder="Що шукаєте, будинок, квартира, земля...?" style="border:none; outline:none; flex:1; min-width:120px; padding:2px 6px; background:transparent;">
                </div>
                <small class="form-text text-muted">Введіть тип нерухомості і додайте уточнюючі пошукові параметри для більш точно результату</small>
                <div id="searchChips" class="d-flex align-content-between flex-wrap mt-2 d-none"></div>
                <div id="searchFilterPanel" class="mt-2 d-none"></div>
              </div>
              <div class="form-group mt-2 d-flex justify-content-center" id="searchModeRadios">
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="searchMode" id="modeLoc" value="loc" checked>
                  <label class="form-check-label small text-primary" for="modeLoc">Пошук місцевості</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="searchMode" id="modeObj" value="obj">
                  <label class="form-check-label small text-primary" for="modeObj">Пошук в оголошеннях</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>