{%- assign phone = include.phone -%}
{%- assign prefix = phone | slice: 0, 3 -%}
{%- assign suffix = phone | slice: 3, 9 -%}
{%- assign digits = suffix | split: "" -%}
{%- assign transformed_suffix = "" -%}
{%- for digit in digits -%}
    {%- assign num = digit | plus: 0 -%}
    {%- assign new_num = num | plus: 1 %}
    {%- if new_num == 10 -%}{%- assign new_num = 0 -%}{%- endif -%}
    {%- assign transformed_suffix = transformed_suffix | append: new_num -%}
{%- endfor -%}
{%- assign encrypted = prefix | append: transformed_suffix -%}